.select-kit {
  .select-kit-header:not(.btn) {
    border-radius: 5px;
    font-size: 0.9em;
    padding: 1em 1.1em;
    color: var(--primary);
  }

  .select-kit-row {
    padding: 1em 1em;
  }

  &.is-expanded {
    .select-kit-body {
      border-radius: var(--d-menu-border-radius);
      padding: 0.3em 0;
    }
    .select-kit-filter.is-expanded {
      padding: 0.5em 1em 0.8em 1em;
    }
  }
}
